.welcome{
    background: rgb(33,37,41);
    min-height: 90vh;
    .stack{
        height: 90vh
    }
    .arrowDown{
        filter: invert(100%); 
        &:hover{
            transform: scale(1.5);
           
        }
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

