.navigation{
    background-color: transparent;
    padding: 0 1rem!important;
    transition:  all 0.2s ease-in;


     .brandNavbar{
         height: 60px;
        
        span{
            color: white!important;
            font-size: 36px;
            line-height: 60px;
            height: 100%;
        }
     }

     .collapseNavbar{
         font-family: VarelaRound;
         .nav{
             a{
               
               color: white!important;
               font-size: 18px;
             }
         }
     }

    &.on{
       
         .brandNavbar{
            span{
                color: black!important;
            }
         }
    
         .collapseNavbar{
             .nav{
                 a{
                   color: black!important;
                 }
             }
         }

      
    }

    
}