.navigation{
    background-color: transparent;
    padding: 0 1rem!important;
    transition:  all 0.2s ease-in;


     .brandNavbar{
         height: 60px;
        
        span{
            color: white!important;
            font-size: 36px;
            line-height: 60px;
            height: 100%;
        }
     }

     .collapseNavbar{
         font-family: VarelaRound;
         .nav{
             a{
               
               color: white!important;
               font-size: 18px;
               cursor: pointer;
                &::after {
                        display:block;
                        content: '';
                        border-bottom: solid 2px var(--bs-gray-100);  
                        transform: scaleX(0);  
                        transition: transform 250ms ease-in-out;
                       
                    }
                
                &:hover{
                    color: white;
                    &::after { 
                        transform: scaleX(1); 
                        
                    }
                }

                transition: all .35s ease-in-out;
             }
         }
     }

    &.on{
       
         .brandNavbar{
            span{
                color: black!important;
            }
         }
    
         .collapseNavbar{
             .nav{
                 a{
                   color: black!important;
                 }
             }
         }

      
    }

    
}