
.bgIcon{
    position: absolute;
    display: flex;
    width: 85%;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 15rem;
    z-index: 0;
    .iconRight{
        position: relative;
        transform: scaleX(-1);
        width: 250px;
        height: 250px;
    }

    .iconLeft{
        position: relative;
        width: 250px;
        height: 250px;
    }
    
}